@page "/counter"
@inject HttpClient Http

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">@message</p>

<button class="btn btn-primary" @onclick="GetMessage">Click me</button>

@code {
    private string message = "尚未取得訊息";

    private async Task GetMessage()
    {
        message = await Http.GetStringAsync("http://localhost:7211/api/GetMessage");
    }
}
